__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.env
.env.*
.venv/
venv/
__MACOSX/
.DS_Store
pretrained_models/
*.db
*.sqlite
*.sqlite3
*.tar.gz
*.whl
cache/
build/
.dist-info/
.eggs/
*.egg-info/
*__pycache__*
